:root {
  --nt-gray: #3636361c;
  --nt-yellow: #ffee58;
  --nt-dark-blue: #001446;
  --nt-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --nt-gold: #957c3d;
  --nt-bg-blue: #002349;
  --nt-orange: #f9d023;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Inter", "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body:not(.modal-open) {
  padding-right: 0 !important;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
:is(h1, h2, .display-1, .display-2) {
  font-family: "Montserrat", sans-serif;
}
:is(h3, h4, h5, h6, .display-3, .display-4, .display-5, .display-6) {
  font-family: "Inter", sans-serif;
}
.max-w-500 {
  max-width: 500px;
}
.max-w-600 {
  max-width: 600px;
}
.max-w-720 {
  max-width: 720px;
}
.max-w-900 {
  max-width: 900px;
}
.max-w-1200 {
  max-width: 1200px;
}
.section_container {
  padding-block: 2rem;
  padding-inline: 1rem;
}
.dotted_bg {
  background-image: url("/images/dotted-bg.svg");
}
.dark_blue_bg {
  background-color: var(--nt-bg-blue);
}
.gradient_bg {
  background: #f8f9ff;
  background: linear-gradient(
    0deg,
    rgba(248, 249, 255, 1) 0%,
    rgba(222, 231, 255, 1) 100%
  );
}
.bg_light {
  background: #b8c3ff;
}
.nt-link {
  text-decoration: underline;
}
.nt-link-blue {
  text-decoration: underline;
  color: blue;
}
.connect_section {
  background: #f8f9ff;
  background: linear-gradient(
    0deg,
    rgba(248, 249, 255, 1) 0%,
    rgba(222, 231, 255, 1) 100%
  );
}
.swiper-pagination-bullets {
  margin-top: 20px;
}
.swiper-pagination-bullet {
  background: #999;
  opacity: 0.5;
}
.swiper-pagination-bullet-active {
  background: #000;
  opacity: 1;
}

@media screen and (min-width: 992px) {
  .section_container {
    padding-block: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  .section_container {
    padding-block: 4rem;
  }
}
